body{
    --bodyBackgroundColor: var(--secondary-ice);
    --textColor: var(--primary-drab);
}
.darkmode{
    --bodyBackgroundColor: var(--primary-drab);
    --textColor: var(--secondary-sand);
    }

body {
    background-color: var(--bodyBackgroundColor);
}